body{
    background: #a6abb5;
    font-size: 32px;
}

html, body, .container{
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 100%;
    min-height: 80px;
    width: 100%;
    min-width: 80px;
    border-radius: 16px;
    background: linear-gradient(145deg, #ffffff, #e5e6e6);
    box-shadow:  10px 10px 20px #d8d9d9,
                 -10px -10px 20px #ffffff;
    border: 0;
    font-size: 32px;
    transition: all 1s ease-in-out;
}

button:active{
    box-shadow: inset 10px 10px 20px #d8d9d9,
                inset -10px -10px 20px #ffffff;
}

.function-btn{
    background: linear-gradient(145deg, #ff9d00, #e68400);
    color: #fff;
}

.function-btn:active{
    box-shadow: inset 10px 10px 20px #d97d00,
                inset -10px -10px 20px #ffa900;
}

.result-btn{
    background: linear-gradient(145deg, #474747, #3b3b3b);
    color: #fff;
}

.result-btn:active{
    box-shadow: inset 10px 10px 20px #383838,
                inset -10px -10px 20px #4c4c4c;
}

input{
    border: 0;
    text-align: right;
    padding: 24px;
    font-size: 32px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: inset 10px 10px 20px #d8d9d9,
                inset -10px -10px 20px #ffffff;
    
}

.calculator-container{
    padding: 64px;
    border-radius: 50px;
    background: linear-gradient(145deg, #fafafa, #d3d3d3);

}

.calculator {  display: grid;
    grid-template-columns: [asdasd] 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 32px 32px; 
    grid-auto-flow: row;
    grid-template-areas:
      "display display display display"
      "btn1 btn2 btn3 btn4"
      "btn5 btn6 btn7 btn8"
      "btn9 btn10 btn11 btn12"
      "btn13 btn14 btn15 btn16"
      "btn17 btn18 btn19 btn16";
  }
  
  .display { grid-area: display; }
  
  .btn1 { grid-area: btn1; }
  
  .btn2 { grid-area: btn2; }
  
  .btn3 { grid-area: btn3; }
  
  .btn4 { grid-area: btn4; }
  
  .btn5 { grid-area: btn5; }
  
  .btn6 { grid-area: btn6; }
  
  .btn7 { grid-area: btn7; }
  
  .btn8 { grid-area: btn8; }
  
  .btn9 { grid-area: btn9; }
  
  .btn10 { grid-area: btn10; }
  
  .btn11 { grid-area: btn11; }
  
  .btn12 { grid-area: btn12; }
  
  .btn13 { grid-area: btn13; }
  
  .btn14 { grid-area: btn14; }
  
  .btn15 { grid-area: btn15; }
  
  .btn16 { grid-area: btn16; }
  
  .btn17 { grid-area: btn17; }
  
  .btn18 { grid-area: btn18; }
  
  .btn19 { grid-area: btn19; }
  